* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Estilos generales */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 1.6rem;
    justify-content: space-between;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 99;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    border-radius: 12px;
    padding: 10px 14px;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    transition: .25s ease;
}

.nav-list li a:hover {
    background-color: #f9792d;
    color: white;
}

.nav-list li {
    transition: .25s ease;
}

.nav-list li:hover {
    transform: translateY(-10%);
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .4rem;
}

.logo {
    max-width: 10rem;
    height: auto;
    cursor: pointer;
}


.fb, .in {
    max-width: 3rem;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    transition: .25s ease;
}

.in {
    max-width: 3.3rem;
    height: auto;
}

.fb:hover, .in:hover {
    transform: translateY(-10%);
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.redes-responsive {
    display: none;
    height: auto;
    cursor: pointer;
    gap: .8rem;
    object-fit: cover;
}

@media (max-width:905px) {
    .redes {
        display: none;
    }

    .redes-responsive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .abrir-menu, .cerrar-menu{
        display: block;
        cursor: pointer;
        font-family: sans-serif;
        border: none;
        background-color: #f9792d;
        color: #1c1c1c;
        font-size: 1.8rem;
        border-radius: 10px;
        padding: .6rem;
        font-weight: 600;
        transition: .3s ease;
    }

    .abrir-menu:hover, .cerrar-menu:hover {
        color: white;
        transform: translateY(-10%);
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        position: fixed;
        inset: 0 0 0 auto;
        height: 100dvh;
        width: 50%;

        background-color: #1c1c1c;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        gap: 2.4rem ;
        padding: 1.6rem 0rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    .nav-list li a {
        color: white;
    }

}

/* ---------------------------------------------------------------------------------------------- */

.carrusel {
    width: 100%;
    height: calc(100% - 108px);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.carrusel-tarjetas {
    width: 500%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
}

.tarjetas {
    height: 100%;
    width: calc(100% / 5);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.tarjetas img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
    filter: brightness(70%);
}

.tarjetas h2, .tarjetas p, .tarjetas button {
    position: absolute;
    font-family: sans-serif;
    color: white;
    z-index: 1;
}

.tarjetas h2 {
    left: 10%;
    top: 25%;
    font-size: clamp(1.8rem, 3.2vw, 3.2rem);
}

.tarjetas p {
    left: 10%;
    top: 45%;
    font-size: clamp(1.2rem, 2.2vw, 2.4rem);
}

.tarjetas button {
    left: 10%;
    bottom: 25%;
    border: none;
    background-color: #f9792d;
    border-radius: 12px;
    padding: 1.1rem 1.8rem 1.1rem 1.1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 600;
    pointer-events: auto;
    cursor: pointer;
    z-index: 98;
    box-shadow: inset -7px -5px rgba(0, 0, 0, .3);
}

.carrusel-flechas {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    pointer-events: none;
}

.flecha {
    color: white;
    margin: 1rem;
    font-weight: 600;
    font-size: clamp(1.2rem, 2.2vw, 2.6rem);
    z-index: 11;
    position: relative;
    transition: all .3s ease;
    pointer-events: auto;
}

.flecha:hover {
    color: #f9792d;
    cursor: pointer;
}

.carrusel-puntos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.puntos {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin: 1rem;
    z-index: 11;
}

.punto {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: white;
    transition: .25s ease;
    pointer-events: auto;
}

.punto:hover {
    cursor: pointer;
    background-color: #f9792d;
}

.punto.active {
    background-color: #f9792d;
}

/* ------------------------------------------------------------------------------------------ */

.contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    padding-bottom: 1rem;
}

.barra-contacto {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    flex-shrink: 0;
}

.barra-contacto h2 {
    color: white;
    font-size: clamp(1.4rem, 2.4vw, 3rem);
}

.video {
    width: 85%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video video {
    padding: 1rem 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(50% 0%,92.5% 25%, 92.5% 75%, 50% 100%, 7.5% 75%, 7.5% 25%);
    object-fit: fill;
}

.texto-contacto {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    gap: 1.3rem;
}

.texto-contacto h2 {
    text-align: center;
    font-size: clamp(1.3rem, 5.2vw, 3.8rem);
}

.texto-contacto p {
    text-align: center;
    font-size: clamp(.9rem, 3.4vw, 2.8rem);
    line-height: clamp(1, 1.3, 1.5);
    padding: 2px;
}

.texto-decorativo {
    width: 100%;
    background-color: #f9792d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-decorativo h2 {
    font-size: clamp(1.3rem, 5.2vw, 3.8rem);
    color: #f9792d;
    padding: .6rem;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .4px;
}

.texto-contacto ul {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: center;
}

.texto-contacto li {
    font-size: clamp(.9rem, 3.4vw, 2.8rem);
    line-height: clamp(1.2, 1.5, 1.7);

}

.texto-contacto a {
    background-color: #344264;
    border: none;
    border-radius: 2rem;
    padding: clamp(.8rem, 2.8vw, 1.8rem);
    color: white;
    cursor: pointer;
    box-shadow: inset -7px -5px rgba(0, 0, 0, .5);
    font-size: clamp(.8rem, 2.8vw, 1.8rem);
    text-decoration: none;
}

.texto-contacto a:hover {
    filter: brightness(70%);
}

.texto-contacto small {
    margin-top: -.9rem;
    color: #666;
    font-size: clamp(.7rem, 2.4vw, 1.7rem);
}

.lineaU {
    position: absolute;
    top: 4%;
    left: 0%;
    width: 15%;
    height: 4px;
    background-color: #f9792d;
    z-index: 10;
}

.lineaD {
    position: absolute;
    bottom: 4%;
    left: 84%;
    width: 15%;
    height: 4px;
    background-color: #f9792d;
    z-index: 2;
}

@media (min-width:950px) {
    .contacto {
        flex-direction: row;
        flex-wrap: wrap;
        height: calc(100% - 108px);
        align-items: start;
        justify-content: center;
    }

    .video {
        width: 50%;
        height: 80%;
    }

    .texto-contacto {
        width: 50%;
        height: 80%;
        justify-content: center;
        gap: 1.6rem;
        justify-content: center;
    }

    .contacto h2, .texto-decorativo h2 {
        font-size: clamp(1.75rem, 2.8vw, 3rem);
    }

    .texto-contacto li, .texto-contacto p {
        font-size: clamp(1.1rem, 1.6vw, 1.7rem);
    }

    .texto-contacto ul {
        width: 85%;
        padding: 0 0 0 2rem;
    }

    .texto-contacto a {
        padding: clamp(.95rem, 1.2vw, 1.35rem);
        font-size: clamp(.95rem, 1.2vw, 1.35rem);
        box-shadow: inset -9px -7px rgba(0, 0, 0, .5);
    }

    .texto-contacto small {
        font-size: clamp(.8rem, 1vw, 1.2rem);
    }

    .barra-contacto h2 {
        font-size: clamp(1.75rem, 2vw, 2rem);
    }

    .barra-contacto {
        height: 108px;
    }

    .lineaU {
        left: 2%;
    }
}

/* ------------------------------------------------------------------------------------------------ */

.temporada {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.linea-temp {
    width: 20%;
    height: 4px;
    background-color: #f9792d;
    position: absolute;
    top: 0%;
}

.temporada p {
    padding: 1rem 0;
    letter-spacing: 0.15em;
    font-size: clamp(.95rem, 3.4vw, 2.8rem);
    color: #f9792d;
    font-weight: 700;
}

.temporada h2 {
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: clamp(1.4rem, 5.2vw, 3.8rem);
}

.catalogos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    justify-items: center;
    gap: 1rem;
}

.catalogo {
    width: 80%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

.catalogo img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9 / 12;
    border-radius: 1.6rem;
    filter: brightness(70%);
}

.degradado-temp {
    position: absolute;
    inset: 0px;
    border-radius: 1.6rem;
    background: linear-gradient(to top, rgba(30,12,0,0.9) -10%, rgba(249,121,45,0.45) 35%, rgba(249,121,45,0) 90%);
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.catalogo:hover .degradado-temp {
    opacity: 1;
}

.catalogo h3, .catalogo p, .catalogo a {
    position: absolute;
    color: white;
}

.catalogo h3 {
    left: 5%;
    bottom: 15%;
    transition: all 0.4s ease;
    font-size: clamp(1.1rem, 5.6cqw, 1.4rem);
}

.catalogo:hover h3 {
    bottom: 22%;
}

.catalogo p {
    left: 5%;
    bottom: 7.5%;
    font-size: clamp(.8rem, 4cqw, 1.3rem);
    opacity: 0;
    visibility: hidden;
    transform: translateY(40%);
    transition: all 0.4s ease;
    font-weight: 100;
    text-align: start;
}

.catalogo:hover p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.catalogo a {
    left: 5%;
    bottom: 4%;
    text-decoration: none;
    border-bottom: 1px solid #f9792d;
    padding-bottom: 1px;
    transition: all 0.2s ease;
    font-size: clamp(.9rem, 3.5cqw, 1.4rem);
}

.catalogo a:hover {
    color: black;
}

.btnVerCat {
    color: white;
    background-color: #f9792d;
    border-radius: 1rem;
    padding: clamp(.8rem, 2.8vw, 1.8rem);
    border: none;
    font-size: clamp(.8rem, 2.8vw, 1.8rem);
    cursor: pointer;
}

.btnVerMenosCat {
    color: #f9792d;
    background-color: none;
    border-color: #f9792d;
    border-radius: 1rem;
    padding: clamp(.8rem, 2.8vw, 1.8rem);
    font-size: clamp(.8rem, 2.8vw, 1.8rem);
    cursor: pointer;
    display: none;
}

.catalogoVer {
    width: 80%;
    position: relative;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

.catalogoVer img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9 / 12;
    border-radius: 1.6rem;
    filter: brightness(70%);
}

.catalogoVer:hover .degradado-temp {
    opacity: 1;
}

.catalogoVer h3, .catalogoVer p, .catalogoVer a {
    position: absolute;
    color: white;
}

.catalogoVer h3 {
    left: 5%;
    bottom: 15%;
    transition: all 0.4s ease;
    font-size: clamp(1.1rem, 5.6cqw, 1.4rem);
}

.catalogoVer:hover h3 {
    bottom: 22%;
}

.catalogoVer p {
    left: 5%;
    bottom: 7.5%;
    font-size: clamp(.8rem, 4cqw, 1.3rem);
    opacity: 0;
    visibility: hidden;
    transform: translateY(40%);
    transition: all 0.4s ease;
    font-weight: 100;
    text-align: start;
}

.catalogoVer:hover p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.catalogoVer a {
    left: 5%;
    bottom: 4%;
    text-decoration: none;
    border-bottom: 1px solid #f9792d;
    padding-bottom: 1px;
    transition: all 0.2s ease;
    font-size: clamp(.9rem, 3.5cqw, 1.4rem);
}

.catalogoVer a:hover {
    color: black;
}

@media (min-width: 950px) {
    .temporada h2 {
        font-size: clamp(2rem, 3.6vw, 3rem);
    }

    .temporada p {
        font-size: clamp(.95rem, 3vw, 1.4rem);
    }

    .catalogo p {
        left: 5%;
        bottom: 8.5%;
        font-size: 1rem;
        font-weight: 100;
        opacity: 0;
        visibility: hidden;
        transform: translateY(40%);
        transition: all 0.4s ease;
    }

    .catalogo:hover p {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .linea-temp {
        width: 0;
        height: 0;
    }

    .catalogo h3 {
        left: 5%;
        bottom: 15%;
        transition: all 0.4s ease;
    }

    .catalogo:hover h3 {
        bottom: 25%;
    }

    .catalogos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
        justify-items: center;
        gap: 1rem;
    }

    .catalogoVer p {
        left: 5%;
        bottom: 8.5%;
        font-size: 1rem;
        font-weight: 100;
        opacity: 0;
        visibility: hidden;
        transform: translateY(40%);
        transition: all 0.4s ease;
    }

    .catalogoVer:hover p {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .catalogoVer h3 {
        left: 5%;
        bottom: 15%;
        transition: all 0.4s ease;
    }

    .catalogoVer:hover h3 {
        bottom: 25%;
    }
}

@media (min-width: 592px) {
    .btnVerCat, .btnVerMenosCat, .verCat, .verMenosCat {
        display: none;
    }

    .catalogoVer {
        display: flex;
    }
}

/* -----------------------------------------------------------------------------------------------------*/

.brandeo {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding-top: 1.6rem;
}

.brandeoTitulo {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.brandeoTitulo h2, p {
    text-align: center;
}

.brandeoTitulo h2 {
    font-size: clamp(1.4rem, 5.2vw, 3.8rem);
}

.brandeoTitulo p {
    font-size: clamp(.9rem, 3.4vw, 2.8rem);
}

.brandeoTitulo span {
    color: #f9792d;
}

.brandeoSeleccionar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.brandeoSeleccionar button {
    background-color: #f9792d;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: clamp(.8rem, 2.8vw, 1.8rem);
    font-size: clamp(.8rem, 2.8vw, 1.8rem);
    cursor: pointer;
}

.brandeo ul {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.brandeo li {
    list-style: none;
    font-size: clamp(.9rem, 3.4vw, 2.8rem);
}

.bordado, .grabadoLaser, .dtfTextil, .dtfUV, .vinil, .serigrafia {
    display: none;
}

.bordado.active, .grabadoLaser.active, .dtfTextil.active, .dtfUV.active, .vinil.active, .serigrafia.active {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bordadoContenido, .grabadoLaserContenido, .dtfTextilContenido, .dtfUVContenido, .vinilContenido, .serigrafiaContenido {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bordadoContenido ul, .grabadoLaserContenido ul, .dtfTextilContenido ul, .dtfUVContenido ul, .vinilContenido ul, .serigrafiaContenido ul {
    display: flex;
    width: 60%;
    flex-flow: column wrap;
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
}

.bordadoContenido li, .grabadoLaserContenido li, .dtfTextilContenido li, .dtfUVContenido li, .vinilContenido li, .serigrafiaContenido li {
    list-style: disc;
    text-align: start;
    font-size: clamp(.9rem, 3.4vw, 2.8rem);
}

.bordadoContenido h2, .grabadoLaserContenido h2, .dtfTextilContenido h2, .dtfUVContenido h2, .vinilContenido h2, .serigrafiaContenido h2 {
    font-size: clamp(1.3rem, 5.2vw, 3.8rem);
}

.bordadoContenido p, .grabadoLaserContenido p, .dtfTextilContenido p, .dtfUVContenido p, .vinilContenido p, .serigrafiaContenido p {
    font-size: clamp(.9rem, 3.4vw, 2.8rem);
}

.bordado.active img, .grabadoLaser.active img, .dtfTextil.active img, .dtfUV.active img, .vinil.active img, .serigrafia.active img {
    width: 65%;
    height: auto;
    object-fit: cover;
    border-radius: 1.6rem;
}

.bordadoContenido a, .grabadoLaserContenido a, .dtfTextilContenido a, .dtfUVContenido a, .vinilContenido a, .serigrafiaContenido a {
    background-color: #344264;
    border: none;
    border-radius: 2rem;
    padding: clamp(.8rem, 2.8vw, 1.8rem);
    color: white;
    cursor: pointer;
    box-shadow: inset -7px -5px rgba(0, 0, 0, .5);
    font-size: clamp(.8rem, 2.8vw, 1.8rem);
    text-decoration: none;
    transition: all .3s ease;
}

.bordadoContenido a:hover, .grabadoLaserContenido a:hover, .dtfTextilContenido a:hover, .dtfUVContenido a:hover, .vinilContenido a:hover, .serigrafiaContenido a:hover {
    filter: brightness(70%);
}

@media (min-width: 950px) {
    .bordado.active, .grabadoLaser.active, .dtfTextil.active, .dtfUV.active, .vinil.active, .serigrafia.active {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.bordadoContenido, .grabadoLaserContenido, .dtfTextilContenido, .dtfUVContenido, .vinilContenido, .serigrafiaContenido {
    width: 55%;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bordado.active img, .grabadoLaser.active img, .dtfTextil.active img, .dtfUV.active img, .vinil.active img, .serigrafia.active img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 1.6rem;
}

.brandeo {
    padding-top: 2rem;
}

.brandeoTitulo h2, .bordadoContenido h2, .grabadoLaserContenido h2, .dtfTextilContenido h2, .dtfUVContenido h2, .vinilContenido h2, .serigrafiaContenido h2 {
    font-size: clamp(1.75rem, 2.8vw, 3rem);
}

.brandeoTitulo p, .brandeo li, .bordadoContenido p, .bordadoContenido li, .grabadoLaserContenido p, .grabadoLaserContenido li, .dtfTextilContenido p, .dtfTextilContenido li, .dtfUVContenido p, .dtfUVContenido li, .vinilContenido p, .vinilContenido li, .serigrafiaContenido p, .serigrafiaContenido li {
    font-size: clamp(1.1rem, 1.6vw, 1.7rem);
}

.brandeoSeleccionar button {
    padding: clamp(.95rem, 1.2vw, 1.35rem);
    font-size: clamp(.95rem, 1.2vw, 1.35rem);
}

.bordadoContenido a, .grabadoLaserContenido a, .dtfTextilContenido a, .dtfUVContenido a, .vinilContenido a, .serigrafiaContenido a {
    padding: clamp(.95rem, 1.2vw, 1.35rem);
    font-size: clamp(.95rem, 1.2vw, 1.35rem);
    box-shadow: inset -9px -7px rgba(0, 0, 0, .5);
}
}